# Segmenting and Clustering Neighborhoods in Toronto

In [1]:
# import libraries
import pandas as pd

## Web scraping and obtain the table of postal codes of Canada

In [2]:
# Web scraping and obtain the table of postal codes of Canada
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url)[0]

In [3]:
# Check the data if it is downloaded successfully
table.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
table.shape

(287, 3)

## Drop cells with a borough that is Not assigned

In [5]:
# Drop cells with a borough that is Not assigned
table.drop(table[table['Borough'] == 'Not assigned'].index, axis=0, inplace=True)

In [6]:
table.shape

(210, 3)

## Combine those neighborhoods that exist in the same post code area

In [7]:
table=table.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

In [8]:
table.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## Fill those Not assigned neighborhood columns with its Borough

In [9]:
table.loc[table['Neighborhood']=='Not assigned','Neighborhood']= \
table[table['Neighborhood']=='Not assigned']['Borough'].values

In [10]:
table[table['Neighborhood']==table['Borough']]

   Postcode       Borough  Neighborhood
93      M9A  Queen's Park  Queen's Park

## Print the number of rows of the dataframe

In [11]:
table.shape

(103, 3)