# Task 1: Segmenting and Clustering Neighborhoods in Toronto

In [1]:
# import libraries
import pandas as pd

## Web scraping and obtain the table of postal codes of Canada

In [2]:
# Web scraping and obtain the table of postal codes of Canada
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url)[0]

In [3]:
# Check the data if it is downloaded successfully
table.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
table.shape

(287, 3)

## Drop cells with a borough that is Not assigned

In [5]:
# Drop cells with a borough that is Not assigned
table.drop(table[table['Borough'] == 'Not assigned'].index, axis=0, inplace=True)

In [6]:
table.shape

(210, 3)

## Combine those neighborhoods that exist in the same post code area

In [7]:
table = table.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

In [8]:
table.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## Fill those Not assigned neighborhood columns with its Borough

In [9]:
table.loc[table['Neighborhood']=='Not assigned','Neighborhood']= \
table[table['Neighborhood']=='Not assigned']['Borough'].values

In [10]:
table[table['Neighborhood']==table['Borough']]

   Postcode       Borough  Neighborhood
93      M9A  Queen's Park  Queen's Park

## Print the number of rows of the dataframe

In [11]:
table.shape

(103, 3)

## Get the geographical coordinates

Get the geographical coordinates from a csv file because I am not able to get them using the Geocoder package.

In [12]:
geo_table = pd.read_csv('http://cocl.us/Geospatial_data')

In [13]:
geo_table.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Task 2: Get the latitude and the longitude coordinates of each neighborhood.

Merge the table of Neighborhood with that of geographical coordinates

In [14]:
# merge table with geo_table to add latitude/longitude for each post code
merged_table = table.join(geo_table.set_index('Postal Code'), on='Postcode')

In [15]:
merged_table.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476